In [1]:
import numpy as np
import pandas as pd
import tensorflow

In [2]:
from tensorflow import keras
from keras.layers import Dense,Flatten,Conv2D,MaxPooling2D
from keras import Sequential

In [3]:
df=pd.read_csv("C:\\Users\\subha\\Downloads\\insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [5]:
df["sex"]=le.fit_transform(df["sex"])
df["smoker"]=le.fit_transform(df["smoker"])
df["region"]=le.fit_transform(df["region"])

In [6]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [7]:
df["bmi"]=df["bmi"].astype(int)

In [8]:
x=df.drop(columns=["charges"])
y=df["charges"]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=100,random_state=42)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
rfc.fit(x_train,y_train)

ValueError: Unknown label type: 'continuous'

In [12]:
from sklearn.metrics import r2_score

In [13]:
y_pred=lr.predict(x_test)

In [14]:
r2_score(y_test,y_pred)

0.7835179834489956

In [ ]:
df.columns

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int32
 2   bmi       1338 non-null   int32
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
 6   charges   1338 non-null   float64
dtypes: float64(1), int32(4), int64(2)
memory usage: 52.4 KB

In [ ]:
age=int(input("enter your age:"))

In [ ]:
sex=int(input("enter your sex male or female:"))

In [ ]:
bmi=int(input("enter bmi:"))

In [ ]:
children=int(input("enter your children:"))

In [ ]:
smoker=int(input("enter yes or no :"))

In [ ]:
region=int(input("enter your region:"))

In [ ]:
user_input=np.array([[age,sex,bmi,children,smoker,region]])

In [ ]:
user_input

In [ ]:
lr.predict(user_input)

# deep learning

In [ ]:
df.head()

In [ ]:
model=Sequential()
model.add(Dense(32,input_shape=(6,),activation="relu"))
model.add(Dense(64,activation="relu"))
model.add(Dense(1,activation="linear"))

In [ ]:
model.compile(optimizer="adam",loss="mean_squared_error",metrics=["accuracy"])
model.fit(x_train,y_train,epochs=50,batch_size=32,verbose=1)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [ ]:
mse=mean_squared_error(y_test,y_pred)
mse

In [ ]:
mae=mean_absolute_error(y_test,y_pred)
mae

In [ ]:
# model.compile(optimizer="adam",loss="BinaryCrossentropy")
# model.fit(x_train,y_train,epochs=50,batch_size=32,verbose=1)

In [ ]:
# df = pd.read_csv('delivery', sep=' ', header=0)
# print(df)
file_path = 'C:\\Users\\subha\\Downloads\\deliverytime.txt'

with open('C:\\Users\\subha\\Downloads\\deliverytime.txt', 'r') as file:
        file_contents = file.read()

print(file_contents)

In [ ]:
df=pd.read_csv("C:\\Users\\subha\\Downloads\\deliverytime.txt")
df.head()